<% @user.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

<div class="card" style="margin: auto;width: 300px;">
  <div class="card-section">
    <h3 class="text-center">新規ユーザー登録</h3>
    <br>
    <%= form_tag("/users/create") do %>
    <p>ユーザー名</p>
    <input type="text" name="name" value="<%= @user.name %>">
    <p>メールアドレス</p>
    <input type="email" name="email" value="<%= @user.email %>">
    <p>パスワード</p>
    <input type="password" name="password" value="<%= @user.password %>">
    <br>
    <input type="submit" value="Sign up" class="button expanded">
  </div>
</div>
<% end %>
