<br>
<div class="grid-x grid-padding-x">
	<div class="cell small-4"></div>
	<div class="cell small-4">

		<div class="callout">
				<div class="media-object">
					<div class="media-object-section">
						<div class="thumbnail">
							<img src="<%= "/user_images/#{@user.image_name}" %>" style="width: 60px;">
						</div>
					</div>
					<div class="media-object-section">
						<h5><%= link_to(@user.name, "/users/#{@user.id}", style:"color:#000000;") %></h5>
						<p><%= @post.content %></p>
						<p style="color:#888888;font-size:12px;"><%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
					</div>
				</div>
			</div>
		<% if @user.id == @current_user.id %>
		<div class="post-menus">
			<div class="float-right">
				<%= link_to("編集", "/posts/#{@post.id}/edit", class: "button") %>
				<%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post", class: "alert button"}) %>
			</div>
		</div>
		<% end %>
	</div>
	<div class="cell small-4"></div>
</div>
